<div ng-include="'views/partials/header.html'"></div>
<div class="container">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding layout-align="center center">
        <div>
            <md-input-container style="height: 100%">
                <label>Search by Product ID</label>
                <input ng-model="vm.productID">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="vm.getMovies(vm.productID)">
                Submit</md-button>
        </div>
        13860428
    </md-content>
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <fieldset class="row" style="border: none;">
            <div class="column">
                <div class="data" layout="column" layout-align="start start">
                    <p class="listTitle">Product ID:</p>
                    <span class="dataDisplay">{{vm.apiData.tcin}}</span>
                    <p class="listTitle">Product Title:</p>
                    <span class="dataDisplay">{{vm.apiData.product_description.title}}</span>
                    <p class="listTitle">Currency code:</p>
                    <span class="dataDisplay">{{vm.productData.current_price.currency_code}}</span>
                    <p class="listTitle">Current Price:</p>
                    <span class="dataDisplay" editable-text="vm.productData.current_price.value" e-form="textBtnForm"
                        onaftersave="vm.updatePrice(vm.apiData.tcin, vm.productData)">
                        {{vm.productData.current_price.value || 'empty'}}
                    </span>
                    <md-button class="md-raised md-primary" ng-click="textBtnForm.$show()"
                        ng-hide="textBtnForm.$visible">
                        edit
                    </md-button>
                </div>
            </div>
        </fieldset>
    </md-content>
</div>