<div ng-include="'views/partials/header.html'"></div>
<div class="container">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding layout-align="center center">
        <div>
            <md-input-container style="height: 100%">
                <label>Search by Product ID</label>
                <input ng-model="vm.productID">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="vm.getMovies(vm.productID)">
                Submit</md-button>
        </div>
        13860428
    </md-content>
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <fieldset class="row" style="border: none;">
            <div class="column">
                <div class="data" layout="column" layout-align="start start">
                    <p class="listTitle">Product ID:</p>
                    <span class="dataDisplay" ng-hide="vm.isBusy">{{vm.productId.list}}</span>
                    <p class="listTitle">Product Title:</p>
                    <span class="dataDisplay" ng-hide="vm.isBusy">{{vm.productTitle.list}}</span>
                    <p class="listTitle">Currency code:</p>
                    <span class="dataDisplay" ng-hide="vm.isBusy">{{vm.productCode.currencyCode}}</span>
                    <p class="listTitle">Current Price:</p>
                    <span class="dataDisplay" ng-hide="vm.isBusy" editable-text="vm.productPrice.value"
                        e-form="textBtnForm"
                        onaftersave="vm.updatePrice(vm.productPrice.value, vm.productCode.currencyCode, vm.productId.list)">
                        {{vm.productPrice.value || 'empty'}}
                    </span>
                    <md-button ng-disabled="vm.isBusy" class="md-raised md-primary" ng-click="textBtnForm.$show()"
                        ng-hide="textBtnForm.$visible">
                        edit
                    </md-button>
                </div>
            </div>
        </fieldset>
    </md-content>
    <md-content md-theme=" docs-dark" style="height: 1000px;">
    </md-content>
</div>
editable-text="vm.productPrice.list"